[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "==0.18.10"
typing-extensions = "==4.13.0"

[dev-packages]
pytest = "==8.3.5"
coverage = "==7.7.1"
covdefaults = "==2.3.0"
pre-commit = "==4.2.0"
py-unused-deps = "==0.4.2"
